 // Variables
 
 // Color Vars
 @medium-jungle-green: #1B3734;
 @iris-blue: #67B9D4;
 @shadow-green : #9BC1BC;
 @elf-green : #21A072;
 @aquamarine : #6DFBBC;
 @gainsboro: #DCDCDC;

 //Mobile Var
 @phone: ~'(max-width: 500px)';
 